@import "popUp.css";
@import "accordion.css";

:root {
    --color-text: #DB0000;
    --color-text-w: #fff;
    --bg-red: #CF3C3C;
    --bg-item: #F5F5F5;
    --bg-hover: #A01111;
    --bg-active: #7E0101;
    --bg-text-hover: #CF3C3C;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    color: #000;
}

.container {
    margin: 0 auto;
}

.nav {
    max-width: 1195px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    font-size: 16px;
    line-height: 18px;
}

.mar-bl {
    margin-right: 45px;
}

.color-bl a {
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    cursor: pointer;
}

.color-red a {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-text);
    cursor: pointer;

}

.color-black {
    color: #000;

}

.form {
    display: flex;
}

.searh-icon {
    width: 16px;
    height: 16px;
    background: url(../img/searh-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;
    display: none;

}

.wrap {
    position: relative;
}

.input {
    cursor: pointer;
}

.registration {
    margin-left: 43px;
    cursor: pointer;
}

.item-form {
    height: 434px;
    text-align: center;
    background-image: url("../img/bg-head.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.item-form form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-form h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: var(--color-text-w);
    padding-top: 136px;
    margin-bottom: 61px;
}

.item-form input {
    width: 729px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 7px 0px 0px 7px;
    padding-left: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}

::placeholder {
    color: #000;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000;
}

::-ms-input-placeholder {
    color: #000;
}

.item-form button {
    width: 222px;
    height: 43.83px;
    background: var(--bg-red);
    border-radius: 0px 6px 6px 0px;
    border: none;
    margin-left: 2px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--color-text-w);

}

.item-form button:hover {
    background-color: var(--bg-hover);
}

.item-form button:active {
    background-color: var(--bg-active);
}

.container-item-wrapper {
    background-color: var(--bg-item);
}

.container-item {
    max-width: 1195px;
    margin: 0 auto;

}

.container-item-sections {
    padding-top: 45px;
    margin-bottom: 43px;
}

.container-item-sections h3 {
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 25px;

}

.container-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 20px;
}

.grid-item {
    width: 223px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 1px 13px rgba(182, 191, 220, 0.24);
    border-radius: 7px;
}

.grid-item:hover {
    background: #F0F0F0;
}

.grid-item:active {
    background: #E6E6E6;
}

.grid-item div {
    padding-left: 25px;
}

.grid-item h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #375194;
    padding-top: 15px;
    padding-bottom: 6px;
}

.grid-item a {
    text-decoration: none;
}

.grid-item p {
    font-size: 14px;
    line-height: 16px;
}

a {
    text-decoration-line: underline;
    color: #5883F1;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}

.a {
    margin-top: 24px;

}

section {
    display: flex;
}

.container-item-top h3 {
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    margin-bottom: 30px;

}

.top-summary {
    padding: 19px 14px 0 24px;
    box-sizing: border-box;
    /* width: 953px;
    height: 198px;
    left: 153px;
    top: 916px; */
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
}

.top-summary a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #375194;
    text-decoration-line: underline;

}

.top-summary div.summary-footer-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.tochka {
    width: 2px;
    height: 2px;
    padding: 2px;
    background-color: #000;
    margin: 6px 8px 8px 8px;
    border-radius: 50%;

}

.item-top-body-wrapper {
    margin-bottom: 6px;
}

.item-top-body-wrapper h4 {
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    margin-bottom: 8px;
}

.top-summary div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

}

.top-summary p {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

hr {
    /* margin-top: 12px; */
    margin-bottom: 15px;
    /* width: 582px; */
    height: 0px;
    border: 1px solid #EDEDED;
    margin-top: 10px;
}

.advertising {
color: var(--color-text-w);
    background: #545454;
    /* background-size: 100%; */
    /* background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

}

.a-foot {
    margin-bottom: 128px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 953px;
    padding-top: 42px;
    padding-bottom: 46px;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
}

.footer-logo p {
    margin-top: 75px;
}

footer {
    max-width: 1195px;
    margin: 0 auto;
    height: 206px;
    background-color: var(--color-text-w);
}

.footer-item-centr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 226px;
    font-size: 14px;
    line-height: 16px;

}

.footer-item-centr p,
.footer-item-end p {
    cursor: pointer;
}

.footer-item-end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 126px;
    font-size: 14px;
    line-height: 16px;
}

/* //-------------------------search */
/* //------------ input---------------- */
.input-width {
    height: 23px;
    border: 1px solid #999;
    background: #fff;
}

.item-form input.input-color .del {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #375194;

}

.item-form input.input-color {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #375194;

}

.item-form input.input-color::placeholder {
    color: #375194;
}

.search-wr {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 17px;
}

.button-div-input {
    position: relative;

}

.search-but {
    position: absolute;
    margin-right: 3px;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
}

.search-but.del {
    display: block;
}

.none-active {
    display: flex;
}

/* //------------ /input---------------- */
.personal-area a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;

}

.item-search {
    height: 207px;
}

.item-search button {
    width: 135.38px;
}

.item-search form {
    padding-top: 65px;
    margin-bottom: 34px;
}

.item-search form input {
    width: 1053px;
}

.item-search-input input {
    width: 97%;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 22px;
}

.item-search-input {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.search-h3 {
    padding-top: 60px;
    display: flex;
    padding-bottom: 14px;
    align-items: center;
    justify-content: space-between;
    max-width: 953px;
}

select {
    width: 182px;
    height: 33px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    padding-left: 15px;
    max-width: 953px;
}

.select-block {
    display: flex;
    align-items: center;
}

.select-block-p-sort {
    margin-right: 33px;
}

.div-h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.list div {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    text-align: center;
    line-height: 177%;
    cursor: pointer;
}

.list-active {
    background: #DFE0F0;
}

.right-item h3 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

/* ========================аккордион============================ */
/* .acor-container {
    margin: 20px 0;
} */

/* ========================/аккордион============================ */
/* //=====================================================Employers */
.container-personal {
    display: flex;
    padding-top: 36px;
    padding-bottom: 207px;
}

.nav-personal {
    margin-right: 22px;
}

.nav-personal ul {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    width: 223px;
    list-style-type: none;
    padding-bottom: 16px;
    border: 1px solid #DFE0F0;
}

.big-ul-li-a {
    height: 49px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DFE0F0;
}

.li-a {
    /* text-decoration-line: underline; */
    margin-left: 17px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    display: flex;
    align-items: center;
}

.ul-li-a {
    height: 34px;
    display: flex;
    align-items: center;
}

.active-a {
    text-decoration-line: none;
    margin-left: 17px;
    font-size: 14px;
    line-height: 16px;
    color: #000;


}

.active-menu {
    background-color: #F3F4FE;
}

.ava {
    width: 59px;
    height: 59px;
    background: #D9D9D9;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 25px;
}

.personal-nickname {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    padding: 11px 0;
}

.personal-nickname a {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #375194;
    text-decoration: none;
    padding-top: 8px;
}

.nickname {
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    padding-bottom: 8px;
}

.item-personal {
    width: 100%;
    padding-left: 20px;
}

.item-personal hr {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.item-personal h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding-top: 16px;


}

.item-personal input {
    box-sizing: border-box;
    width: 100%;
    height: 39.96px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
}

.wrapp-tell {
    display: flex;
}

.wrapp-tell div {
    width: 50%;
}

.kpp {
    width: 50%;
}

.additionally input {
    height: 90px;
}

.doc-wrap {
    display: flex;
    margin-bottom: 21px;
}

/* ==================================приглашения=============== */
.click-item.tab-grid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 22px;
}

.click-item.tab-grid h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #666363;

    cursor: pointer;
}

#active-h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.responses,
.invitations {
    height: 28px;
}

.active-div {

    border-bottom: 2px solid red
}



.item-personal.tab-grid hr {
    margin: 0;
}

.invitations {
    margin-left: 22px;
}

.select-block-nav {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;

}

.select-block-nav-p {
    padding: 0 13px 0 16px;
}

.select-block-nav-p-p {
    padding: 0 13px 0 37px;
}

/* ============ table ============== */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 84px;

}

.table-active {
    display: none;
}

tr {
    background-color: var(--color-text-w);
    border: 1px solid #DFE0F0;

}

th {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    padding: 16px 0 14px 26px;
    text-align: left;
}

td {
    background: var(--color-text-w);
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    padding: 17px 0 21px 26px;

}

.th-name {
    width: 125px;
}

/* ==========================/table==================== */
/* ==========================table2==================== */
.th-svg {
    margin-right: 3px;
}

/* ===================vacancies=================== */
.hr-vacancies {
    width: 100%;
    margin: 0;
}

.h4-vacancies h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding: 16px 0 15px 0;
}

.item-personal-vacancies {
    width: 100%;
    padding-left: 36px;
}

.select-block-nav-vacancies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.select-block-nav-vacancies div {
    display: flex;
}

.select-block-nav-vacancies p {
    padding-right: 13px;
}

.select-block-nav-vacancies a {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #CF3C3C;
    text-decoration: none;


}

.select-block-vacans-p {
    padding-left: 53px;
}

.select-block-btn {
    width: 208px;
    height: 36px;
    border: 1px solid #CF3C3C;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-block-btn div {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #CF3C3C;
}

.wrapper-sticker {
    display: flex;
    margin-top: 24px;
}

.wrapper-sticker div {
    width: 158px;
    height: 32px;
    background: #ECECEC;
    border: 1px solid #EAEAEA;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
    cursor: pointer;
}

.wrapper-sticker div.active-vacancies {
    background-color: var(--color-text-w);
}

.wrapper-vacanc-person {

    padding-left: 25px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    margin-top: 9px;
}

.vacans-person-head {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
}

.vacans-person-head-name .date {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 5px;
}

.vacans-person-head-name a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #375194;
}

.city {
    display: flex;
    margin-top: 9px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22px;

}

/* .city div {
    width: 16px;
    text-align: center;
} */

.vacans-person-head-fee {
    margin-right: 16px;
}

.vacans-person-head-fee p {
    font-size: 12px;
    line-height: 14px;
    color: #8A8A8A;
    padding-bottom: 7px;
}

.vacans-person-head-fee div {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #8A8A8A;

}

.vacans-person-head-fee .fee {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.vacans-person-item p {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    padding-top: 8px;

}

.vacans-person-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 28px;
    padding-right: 24px;
}

.vacans-person-footer-button {
    width: 179px;
    height: 34px;
    background: #CF3C3C;
    border: 0;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.vacans-del {
    width: 179px;
    height: 34px;
    border: 1px solid #CF3C3C;
    border-radius: 6px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #CF3C3C;
    background-color: var(--color-text-w);
}

.emploer-footer .vacans {
    padding-top: 200px;
}

.container-item-wrapper.vacancies {
    padding-bottom: 200px;
}

/* =====================person-item-table-------------- */
.person-item-table {
    border-spacing: 0 12px;
    border-collapse: separate;
    margin: 0;
    padding: 0;
}

.person-item-table-one {
    height: 30px;
}

.person-item-table th {
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    vertical-align: top;

}

.person-item-table tr {
    margin: 0;
    padding: 0;
}

.person-item-table td {
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 26px;
    padding-right: 50px;
    vertical-align: top;
}

/* =================================== create-a-vacancy====================== */
.left-svg {
    background-image: url(../img/left.svg);
    height: 12px;
    width: 13.7px;
}

.ava-item.creat-a-vacavcy p {
    padding-left: 10px;
}

.ava-item.creat-a-vacavcy a {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.personal-nickname.creat-a-vacavcy {
    padding: 0;
    background: #F5F5F5;
    border: none;
}

.ava-item.creat-a-vacavcy {
    display: flex;
    align-items: center;
}

.podrasdel {
    width: 50%;
}

.item-personal.creat-a-vacavcy .requirements input {
    width: 14px;
    height: 14px;
}

.requirements {
    display: flex;
}

/* .item-search-input.creat-a-vacavcy {
    padding-bottom: 107px;
} */

.radio-h5 {
    padding-top: 37px;
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.requirements {
    margin-bottom: 17px;
}

.wrapp-tell h4,
.kpp h4,
.additionally h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 9px;
}

.wrapp-tell-i {
    margin-bottom: 27px;
}

.item-personal input.wrapp-tell-i {
    width: 97%;
}

.item-personal input.wrapp-tell-i.in {
    width: 98.5%;
}

.creat-vacancy-select {
    width: 97%;
    height: 39.9px;
    border: 1px solid #EAEAEA;
}





/* ==================================================Главная соискателя */
.item-form.applicant {
    background-image: url(../img/stud.png);


}

.applicant-h1 {
    margin: 0 auto;
    max-width: 438px;
}

.time.home-applicant {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.item-top-body-wrapper {
    display: flex;
    background-color: white;
}

.home-applic-item {
    padding: 16px 15px 16px 40px;
}

.home-applic-item-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.top-summary-app {
    display: flex;
}

.summary-footer-block {
    display: flex;
    margin-top: 11px;
}

.summary-footer-block-div {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.home-applic-item-head a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #375194;

}

.home-applic-item-body a {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.time-man {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.home-applic-ava {
    background-image: url(../img/image\ 2-fim.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 91px;
    height: 91px;
    margin: 24px;
    padding: 34px;
}

/* .home-applic-item-body-p{
width: 767px;
} */

.home-applic-item-body hr {
    width: 100%;
}

.home-applic-item-body-p p {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

/* ======================библиотека=================== */

.pretty.p-round .state label:after,
.pretty.p-round .state label:before {
    border-radius: 0;
    margin-top: 2px;
    background: #FFFFFF;
}

.pretty input:checked~.state.p-primary label:after,
.pretty.p-toggle .state.p-primary label:after {
    background-color: #375194 !important;
}

.state.p-primary p {
    padding-left: 16px;

    font-size: 14px;
    line-height: 16px;
}

.pretty .state label:before {
    border-color: #EAEAEA;
}

/* =========================================замена кнопок=============================== */
.form_radio_btn {
    display: inline-block;
    margin-top: 25px;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 45px;
    line-height: 39px;
    border: 1px solid #D5D5D5;
    user-select: none;
}

/* Checked */
.form_radio_btn input[type=radio]:checked+label {
    background-color: #ECECEC;
}

/* Hover */
.form_radio_btn label:hover {
    color: #666;

}


/* Disabled */
.form_radio_btn input[type=radio]:disabled+label {
    background: #efefef;
    color: #666;
}

/* =========================================/замена кнопок=============================== */
/* ===============================личный кабинет соискателя-резюме========================= */
.gre {
    color: #666363;

}

.kpp.resum {
    margin-bottom: 24px;
}

.period {
    display: flex;
}

.wrapp-tell div.period-1,
.wrapp-tell div.period-2 {
    width: 100px;
}

.period-2 {
    margin-left: 12px;
}

.wrapp-tell a {
    margin-bottom: 43px;
}

.input-leng {
    display: flex;
    margin-bottom: 24px;
}

.additionally input[class="wrapp-tell-i"] {
    height: 39.96px;
}

/* =====================================личный кабинет соискателя==================== */
.contact-person-item.open {
    display: block;
    background-color: var(--color-text-w);
    margin: 0 0 430px;
}

.contact-person-item-head.ava-open {
    border-bottom: var(--color-text-w);
   
}

.contact-person-item-head.ava-open h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #000000;

}

.big-name-ava {
    display: flex;
    text-align: center;
    background-color: var(--color-text-w);
}

.ava-pers.ava-open-pers {
    background: url(../img/ava-open.png);
    border-radius: 138px;
    width: 84px;
    height: 84px;
    margin: 0 auto;
}

.person-input-date div {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
}

.person-input-date-div,
.person-input-date-numer {
    padding-left: 5px;
}

.person-item-table th {
    width: 126px;
}

.person-item-table {
    padding-bottom: 58px;
}

.person-item.rabot-poisk {

    flex-direction: column;
}

/* ======================================= резюме для авторизированного работодателя=============== */

.clozet.off {
    display: none;
}

/* ====================================== страница компании ======================================= */
.compani-item {
    background-color: var(--bg-item);
    padding-top: 29px;
}



.home-applic-ava.big-ava {
    height: 133px;
    width: 133px;
}

/* ==========================страница вакансии==================== */
.home-applic-item-body h5 {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 22px;
    padding-top: 4px;
}

.home-applic-item-body h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.item-vacanci-centr {
    display: flex;
    margin-top: 16px;
}

.container-personal.ferm {
    display: block;
}

.name-vacanci-centr {
    width: 100%;
    background-color: var(--color-text-w);
    padding: 27px 33px;
}

.name-vacanci-centr-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    
}

.icon-p {
    display: flex;
}

.icon-p p {
    margin-left: 18px;
}

.place-date {
    display: flex;
}

.money-vacanci {
    margin-left: 20px;
}
.money-bat{
    background-color: var(--color-text-w);
}

.money-bat button {
    width: 300px;
    height: 43px;
    background: #CF3C3C;
    border: none;
    border-radius: 6px;
    color: var(--color-text-w);

}
.vacancy-description h3{
font-weight: 500;
font-size: 15px;
line-height: 17px;
}
.vacancy-description p{
    font-weight: 300;
font-size: 15px;
line-height: 20px;
}
.vacans-person-head-name.min{
    border-bottom: 0.5px solid #666363;;
}
.similar-vacancies{
    background-color: white;
margin-top: 19px;
padding: 19px;
}
/* =======================оставить отклик===================== */
.name-vacanci-centr{
    height: 500px;
}
.name-vacanci-centr input{
   width: 100%;

border: none; 
font-size: 14px;
line-height: 16px;
color: #787878;
}
.money-batton{
    width: 300px;
    height: 43px;
    background: #CF3C3C;
    border: none;
    border-radius: 6px;
    color: var(--color-text-w);
}
/* ======================личный-кабинет-сщискателя======================= */
.ava-pers.ava-open-pers.five{
    background: url(../img/image-ava-50.png);
    width: 50px;
    height: 50px;

}
.ava-pers.ava-open-pers.five div{
    text-align: left;
}
.big-name-ava div{
    width: 100%;
}

.block-input-two{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.block-input-two h3,
.block-input-one h3
{
    font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #000000;
margin-bottom: 9px;
}
.block-input-two input{
height: 38px;
background: #FFFFFF;
border: 1px solid #EAEAEA;
width: 100%;
}
.block-input-two div{
    width: 50%;
}
.block-input-two div:last-child{
    margin-left: 20px;
}
.block-input-two select{
height: 38px;
width: 100%;
}
.block-input-one{
    height: 38px;
width: 100%;
}
