:root {
    --color-text: #DB0000;
    --color-text-w: #fff;
    --bg-red: #CF3C3C;
    --bg-item: #FAFAFA;
    ;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    color: #000;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    font-size: 16px;
    line-height: 18px;
    padding-left: 155px;
}

.color-red {
    font-weight: 700;
    color: var(--color-text);
    margin-left: 45px;
}

.logo {
    margin: 0 15px;
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text)
}

.color-black {
    color: #000;

}

.form {
    display: flex;
    margin-right: 152px;
}

.searh-icon {
    width: 16px;
    height: 16px;
    background: url(../img/searh-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;

}

.registration {
    margin-left: 43px;
}

.item-form {
    height: 434px;
    text-align: center;
    background-image: url("../img/bg-head.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.item-form form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-form h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: var(--color-text-w);
    padding-top: 136px;
    margin-bottom: 61px;
}

.item-form input {
    width: 729px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 7px 0px 0px 7px;
    padding-left: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}

::placeholder {
    color: #000;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000;
}

::-ms-input-placeholder {
    color: #000;
}

.item-form button {
    width: 222px;
    height: 43.83px;
    background: var(--bg-red);
    border-radius: 0px 6px 6px 0px;
    border: none;
    margin-left: 2px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--color-text-w);

}

.container-item-wrapper {
    background-color: var(--bg-item);
}

.container-item {
    max-width: 1195px;
    margin: 0 auto;

}

.container-item-sections {
    padding-top: 45px;
    margin-bottom: 43px;
}

.container-item-sections h3 {
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 25px;

}

.container-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid-item {
    width: 223px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 1px 13px rgba(182, 191, 220, 0.24);
    border-radius: 7px;
}

.grid-item div {
    padding-left: 25px;
}

.grid-item h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #375194;
    padding-top: 15px;
    padding-bottom: 6px;
}

.grid-item p {
    font-size: 14px;
    line-height: 16px;
}

a {
    text-decoration-line: underline;
    color: #5883F1;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}

.a {
    margin-top: 24px;

}
section{
    display: flex;
}

.container-item-top h3 {
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    margin-bottom: 30px;

}
.top-summary {
    padding: 19px 14px 0 24px;
    box-sizing: border-box;
    max-width: 953px;
    height: 198px;
    left: 153px;
    top: 916px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
}

.top-summary a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #375194;
    text-decoration-line: underline;

}
.item-top-body-wrapper{
    margin-bottom: 6px;
}
.item-top-body-wrapper h4{
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    margin-bottom: 8px;
}
.top-summary div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

}

.top-summary p {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

hr {
    margin-top: 12px;
    margin-bottom: 15px;
    width: 582px;
    height: 0px;
    border: 1px solid #EDEDED;
}
.advertising {
    margin-left: 21px;
    width: 220px;
    height: 471px;
    background:#DB0000;
    background-size: cover;
    background-repeat: no-repeat;
}